<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionSheet</key>
	<dict>
		<key>DestructiveButtonColor</key>
		<string>RGB(250, 73, 53)</string>
		<key>NormalButtonColor</key>
		<string>RGB(22, 126, 251)</string>
		<key>TitleColor</key>
		<string>RGBA(0, 0, 0, 0.5)</string>
	</dict>
	<key>AlternativeNetworkIndicator</key>
	<dict>
		<key>Color</key>
		<string>none</string>
	</dict>
	<key>ArticleViewer</key>
	<dict>
		<key>ActionsToolbarBackgroundColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>ActionsToolbarLineGradientColor</key>
		<string>none</string>
		<key>ActionsToolbarTintColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>BlockquoteBarColor</key>
		<string>RGBA(24,26,28,1.00)</string>
		<key>LinkColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>LinkStyleType</key>
		<string>2</string>
		<key>LoadingLabelColor</key>
		<string>RGBA(200,202,204,1.00)</string>
		<key>NetworkIndicatorColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>PullViewBackgroundColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>PullViewLabelColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>SubTitleColor</key>
		<string>RGBA(102,104,106,1.00)</string>
		<key>TextColor</key>
		<string>RGBA(200,202,204,1.00)</string>
		<key>TitleColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>ToolbarsBackgroundColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>ToolbarsLineGradientColor</key>
		<string>none</string>
		<key>ToolbarsLineGradientColorWhenShadowed</key>
		<string>none</string>
		<key>ToolbarsTintColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>UnreadCounterBackgroundColor</key>
		<string>none</string>
		<key>UnreadCounterTextColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>WebBackgroundColor</key>
		<string>RGBA(53,55,57,1.00)</string>
	</dict>
	<key>CircularProgressIndicator</key>
	<dict>
		<key>BackgroundColor</key>
		<string>none</string>
		<key>ForegroundColor</key>
		<string>RGBA(51,152,255,1.00)</string>
	</dict>
	<key>DetailsTable</key>
	<dict>
		<key>ActionButtonIconsTintColor</key>
		<string>RGBA(102,104,106,1.00)</string>
		<key>FeverHotLinkBackgroundGradientColorBottom</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>FeverHotLinkBackgroundGradientColorTop</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>FeverHotLinkBottomLineColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>FeverHotLinkGradientColorBottom</key>
		<string>RGBA(175, 175, 169, 0.9)</string>
		<key>FeverHotLinkTemperatureColor</key>
		<string>RGBA(200,0,0,0.70)</string>
		<key>FeverHotLinkTemperatureShadowColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>FeverHotLinkTitleColor</key>
		<string>RGB(255, 255, 255)</string>
		<key>FeverHotLinkTitleShadowColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>FeverHotLinkTopLineColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>FeverHotLinkUrlColor</key>
		<string>RGBA(51,152,255,1.00)</string>
		<key>FeverHotLinkUrlShadowColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>HighlightedContentColor</key>
		<string>RGBA(183,219,255,1.00)</string>
		<key>HighlightedFeedAndAuthorColor</key>
		<string>RGBA(51,152,255,1.00)</string>
		<key>HighlightedLeftSideBackgroundColor</key>
		<string>RGBA(51,152,255,1.00)</string>
		<key>HighlightedMiddleLineGradientColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>HighlightedPublishedColor</key>
		<string>RGBA(51,152,255,1.00)</string>
		<key>HighlightedRightSideBackgroundColor</key>
		<string>RGBA(51,152,255,1.00)</string>
		<key>HighlightedTitleColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>InsetsBottom</key>
		<string>0</string>
		<key>InsetsLeft</key>
		<string>1</string>
		<key>InsetsRight</key>
		<string>1</string>
		<key>InsetsTop</key>
		<string>20</string>
		<key>MarkAllAsReadPullUpNoUnreadItemsExistBackgroundColor</key>
		<string>RGBA(0,180,0,1.000000)</string>
		<key>MarkAllAsReadPullUpPullingBackgroundColor</key>
		<string>RGBA(0,0,0,0.050000)</string>
		<key>MarkAllAsReadPullUpUnreadItemsExistBackgroundColor</key>
		<string>RGBA(180,0,0,1.000000)</string>
		<key>NoFeedItemsLabelBlurColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>NoFeedItemsLabelInsideColor</key>
		<string>none</string>
		<key>NoFeedItemsLabelOutlineColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>NormalBottomLineColor</key>
		<string>RGBA(24,26,28,1.00)</string>
		<key>NormalLeftSideBackgroundColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>NormalMiddleLineGradientColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>NormalRightSideBackgroundColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>NormalTopLineColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>ReadBottomLineColor</key>
		<string>RGBA(24,26,28,1.00)</string>
		<key>ReadContentColor</key>
		<string>RGBA(102,104,106,1.00)</string>
		<key>ReadFeedAndAuthorColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>ReadLeftSideBackgroundColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>ReadMiddleLineGradientColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>ReadPublishedColor</key>
		<string>RGBA(120,120,120,1.00)</string>
		<key>ReadRightSideBackgroundColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>ReadTitleColor</key>
		<string>RGBA(102,104,106,1.00)</string>
		<key>ReadTopLineColor</key>
		<string>none</string>
		<key>TableBackgroundColor</key>
		<string>none</string>
		<key>TableBackgroundPatternAlpha</key>
		<string>0</string>
		<key>TableSectionHeaderBackgroundGradientColorBottom</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>TableSectionHeaderBackgroundGradientColorTop</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>TableSectionHeaderBottomLineColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>TableSectionHeaderTitleColor</key>
		<string>RGB(255, 255, 255)</string>
		<key>TableSectionHeaderTitleShadowColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>TableSectionHeaderTopLineColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>TableShadowColorFirstAndLastRow</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>TableShadowFirstAndLastRowBackgroundAlpha</key>
		<string>0.0</string>
		<key>TableToolbarButtonIconsTintColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>TableToolbarShadowColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>TableToolbarTitleColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>UnreadContentColor</key>
		<string>RGBA(151,153,151,1.00)</string>
		<key>UnreadCounterBackgroundColor</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>UnreadCounterTextColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>UnreadFeedAndAuthorColor</key>
		<string>RGBA(53,55,57,1.00)</string>
		<key>UnreadPublishedColor</key>
		<string>RGBA(102,104,106,1.00)</string>
		<key>UnreadTitleColor</key>
		<string>RGBA(255,255,255,1.00)</string>
	</dict>
	<key>Global</key>
	<dict>
		<key>StatusBarStyle</key>
		<string>1</string>
		<key>TintColor</key>
		<string>RGBA(51,152,255,1.00)</string>
	</dict>
	<key>Main</key>
	<dict>
		<key>BackgroundColor</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>BackgroundPatternAlpha</key>
		<string>0.0</string>
	</dict>
	<key>MasterNavigationbar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>TintColor</key>
		<string>RGBA(51,152,255,1.00)</string>
		<key>TitleColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>TitleShadowColor</key>
		<string>RGBA(0, 0, 0, 0)</string>
	</dict>
	<key>MasterTable</key>
	<dict>
		<key>DecoImageColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>DecoImageColorSelected</key>
		<string>RGBA(63,65,67,1.00)</string>
		<key>RefreshControlColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>TableBadgeBackgroundColor</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>TableBadgeBackgroundColorSelected</key>
		<string>RGBA(0, 0, 0, 0.0)</string>
		<key>TableBadgeColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>TableBadgeColorSelected</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>TableCellBackgroundColor</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>TableCellBackgroundColorSelected</key>
		<string>RGBA(51,152,255,1.00)</string>
		<key>TableCellBackgroundPatternAlpha</key>
		<string>0.0</string>
		<key>TableCellSeparatorColor</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>TableDisclosureColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>TableDisclosureColorSelected</key>
		<string>RGBA(63,65,67,1.00)</string>
		<key>TableNavigationColor1</key>
		<string>RGBA(24,26,28,1.00)</string>
		<key>TableNavigationColor1WhenShadowed</key>
		<string>RGBA(0,0,0,0.00)</string>
		<key>TableNavigationColor2</key>
		<string>RGBA(255,0,0,0.00)</string>
		<key>TableTextColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>TableTextColorHighlighted</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>TableTextUnreadColor</key>
		<string>RGBA(255,255,255,1.00)</string>
		<key>TableToolbarColor1</key>
		<string>RGBA(24,26,28,1.00)</string>
		<key>TableToolbarColor2</key>
		<string>RGBA(0, 0, 0, 0)</string>
	</dict>
	<key>MasterToolbar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>RGBA(45,45,47,1.00)</string>
		<key>TintColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>TitleColor</key>
		<string>RGBA(151,153,155,1.00)</string>
		<key>TitleShadowColor</key>
		<string>RGBA(0, 0, 0, 0)</string>
	</dict>
	<key>Meta</key>
	<dict>
		<key>InternalTheme</key>
		<string>NO</string>
		<key>MrReaderVersion</key>
		<string>3.0</string>
		<key>ThemeAuthorMail</key>
		<string>michael.jaggers@gmail.com</string>
		<key>ThemeAuthorName</key>
		<string>Michael Jaggers</string>
		<key>ThemeName</key>
		<string>Mr. Feedbin</string>
		<key>ThemeVersion</key>
		<string>1.0</string>
	</dict>
	<key>ModalDialog</key>
	<dict>
		<key>BackgroundColor</key>
		<string>RGB(239, 239, 239)</string>
	</dict>
	<key>Popover</key>
	<dict>
		<key>BackgroundColor</key>
		<string>none</string>
		<key>ContentBackgroundColor</key>
		<string>RGBA(239,239,239,1.00)</string>
	</dict>
	<key>ProgressHUD</key>
	<dict>
		<key>BackgroundColor</key>
		<string>none</string>
	</dict>
	<key>SearchFeeds</key>
	<dict>
		<key>DescriptionColor</key>
		<string>RGB(84, 84, 84)</string>
		<key>LoadMoreColor</key>
		<string>RGB(60, 60, 60)</string>
		<key>TitleColor</key>
		<string>RGB(0, 0, 0)</string>
		<key>UrlColor</key>
		<string>RGB(171, 171, 171)</string>
	</dict>
</dict>
</plist>
